**Business case and project background**

The analysis aims to assist young families to help identify suitable residential areas in London, UK.  Though preferences as to the most suitable residental areas certainly vary, we assume that a certain number of key "requirements" will be shared across families with young children.

**Target Audience**

London is made up of 33 boroughs with relatively important differences between areas.

The analysis aims to assist a newcomer young family (foreigners or out-of-towners) to identify the most suitable borough in London to raise and school young children.  The analysis can also serve as a potential tool to identify areas for potential house purchases.

**Data**

The project will aim to rely on the following data sources:

*   Foursquare:  
    The API will be used to identify areas with higher 
    number of child-friendly entertainment options,   
    parks and malls. 
    (Source: Foursquare API)

*   School Database:
    The school types as well as the number of students in each school type per Borough.  
    (Source: data.london.gov.uk)

*   Economic Indicators:
    Borough economic indicators as defined by its mean disposable income.    
    (Source: data.london.gov.uk)

In [2]:
import pandas as pd

In [58]:
df_students = pd.read_excel("Students.xlsx")
df_income = pd.read_excel("Income.xlsx")
df_schools = pd.read_excel("Schools.xlsx")

In [59]:
df1 = pd.merge(df_students, df_income, on='Code')
df = pd.merge(df1, df_schools, on='Code')
df.head(5)

,Code,Area name,State-funded nursery_x,State-funded primary (2)(3),State-funded secondary (2)(4),State-funded (5),Non-maintained_x,Total_x,Pupil referral units (6),Independent_x,...,2012/13,State-funded nursery_y,State-funded primary (1)(2),State-funded secondary (1)(3),State-funded (4),Non-maintained_y,Total_y,Pupil referral units (5),Independent_y,All schools_y
0,E09000001,City of London,0.0,26187.0,16971.0,443.0,0.0,443.0,121.0,194.0,...,99390,0,1,0,0,0,0,0,4,5
1,E09000002,Barking and Dagenham,491.0,31877.0,26481.0,585.0,0.0,585.0,83.0,7445.0,...,34080,0,44,13,2,0,2,1,5,65
2,E09000003,Barnet,0.0,22831.0,20581.0,506.0,0.0,506.0,31.0,675.0,...,54530,4,91,26,6,0,6,2,37,166
3,E09000004,Bexley,423.0,27479.0,19846.0,711.0,0.0,711.0,50.0,2658.0,...,44430,0,57,16,5,0,5,1,5,84
4,E09000005,Brent,0.0,27820.0,22854.0,705.0,0.0,705.0,97.0,5286.0,...,39630,4,60,15,4,0,4,2,18,103

In [60]:
#Renaming columns to make them easier to read
#df.rename(columns={'Area name_x':'Borough'}, inplace=True)
#df.rename(columns={'State-funded nursery_x':'Students in state nursery'}, inplace=True)
#df.rename(columns={'State-funded primary (2)(3)':'Students in state primary'}, inplace=True)
#df.rename(columns={'State-funded secondary (2)(4)':'Students in state secondary'}, inplace=True)
#df.rename(columns={'Independent_x':'Students in independent schools'}, inplace=True)
#df.rename(columns={'All schools_x':'Total Students'}, inplace=True)
#df.rename(columns={'2012/13':'Mean Disposable Income'}, inplace=True)
#df.rename(columns={'State-funded nursery_y':'Number of state nurseries'}, inplace=True)
#df.rename(columns={'State-funded primary (1)(2)':'Number of state primaries'}, inplace=True)
#df.rename(columns={'State-funded secondary (1)(3)':'Number of state secondaries'}, inplace=True)
#df.rename(columns={'Independent_y':'Number of independent schools'}, inplace=True)
#df.rename(columns={'All schools_y':'Total Schools'}, inplace=True)
#df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 0 to 32
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Code                             33 non-null     object
 1   Area name                        33 non-null     object
 2   Students in state nursery        32 non-null     float64
 3   Students in state primary        32 non-null     float64
 4   Students in state secondary      32 non-null     float64
 5   State-funded (5)                 32 non-null     float64
 6   Non-maintained_x                 32 non-null     float64
 7   Total_x                          32 non-null     float64
 8   Pupil referral units (6)         32 non-null     float64
 9   Students in independent schools  32 non-null     float64
 10  Total Students                   32 non-null     float64
 11  Borough                          33 non-null     object
 12  Mean Disposable Income           33 non-null     int64
 13  Number of state nurseries        33 non-null     int64
 14  Number of state primaries        33 non-null     int64
 15  Number of state secondaries      33 non-null     int64
 16  State-funded (4)                 33 non-null     int64
 17  Non-maintained_y                 33 non-null     int64
 18  Total_y                          33 non-null     int64
 19  Pupil referral units (5)         33 non-null     int64
 20  Number of independent schools    33 non-null     int64
 21  Total Schools                    33 non-null     int64
dtypes: float64(9), int64(10), object(3)
memory usage: 5.9+ KB

In [69]:
#Dropping columns that won't be used in the analysis
#df.drop(['State-funded (5)', 'Non-maintained_x', 'Total_x', 'Pupil referral units (6)'], axis=1, inplace=True)
#df.drop(['State-funded (4)', 'Non-maintained_y', 'Total_y', 'Non-maintained_y', 'Pupil referral units (5)'], axis=1, inplace=True)
#df.drop(['Total_x', 'Pupil referral units (5)'], axis=1, inplace=True)        
df.head(5)

,Code,Area name,Students in state nursery,Students in state primary,Students in state secondary,Students in independent schools,Total Students,Borough,Mean Disposable Income,Number of state nurseries,Number of state primaries,Number of state secondaries,Number of independent schools,Total Schools
0,E09000001,City of London,0.0,26187.0,16971.0,194.0,43916.0,City of London,99390,0,1,0,4,5
1,E09000002,Barking and Dagenham,491.0,31877.0,26481.0,7445.0,66962.0,Barking and Dagenham,34080,0,44,13,5,65
2,E09000003,Barnet,0.0,22831.0,20581.0,675.0,44624.0,Barnet,54530,4,91,26,37,166
3,E09000004,Bexley,423.0,27479.0,19846.0,2658.0,51167.0,Bexley,44430,0,57,16,5,84
4,E09000005,Brent,0.0,27820.0,22854.0,5286.0,56762.0,Brent,39630,4,60,15,18,103

In [ ]:
#Define Foursquare credentials

CLIENT_ID = 'WD0FC5WVUL3SS404ZVHJEPFGW4L310PRJ51ZHSIGJFB1M4D1' # your Foursquare ID
CLIENT_SECRET = 'TSOOUBQLXPK5KJQ1GKKOMASD1U35FNO0IW1WRHWYPIN5IOX3' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)