This is an analysis of petty cash spend

In [2]:
# The code was removed by Watson Studio for sharing.

,Assignment,Document Number,Business Area,Document Type,Document Date,Posting Date,Posting Key,Amount in local currency,Local Currency,Tax code,Clearing Document,Reference,Text,Cost Center,Profit Center,Site,Asset,G/L Account
0,20160701,1009001720,NaN,KZ,01/07/2016,01/07/2016,50,"-10,000.00",INR,NaN,NaN,NaN,Rent Deposit as per LOI,NaN,NaN,NaN,NaN,16200105
1,20160701,1009001830,NaN,KZ,01/07/2016,01/07/2016,50,"-5,000.00",INR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16200105
2,20160701,2200202637,NaN,AB,01/07/2016,01/07/2016,50,"-4,500.00",INR,NaN,NaN,NaN,Transportation Cost HSBCB4,NaN,NaN,NaN,NaN,16200105
3,20160701,2200202638,NaN,AB,01/07/2016,01/07/2016,50,-140.00,INR,NaN,NaN,NaN,Purchase of Room Freshner,NaN,NaN,NaN,NaN,16200105
4,20160704,1009001719,NaN,KZ,04/07/2016,04/07/2016,40,"45,000.00",INR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16200105