<a href="https://colab.research.google.com/github/ahorvath008/Data-Science/blob/main/Women_in_the_Workforce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Purpose:** The purpose of the following analysis is to analyse women labour force participation and its impact on the enterpreneurship index and economic developent within that country

**Data:** The data source is the UN database on women enterpreneurship (from Kaggle)

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ol>
    <li><a href="#data_acquisition">Data import and data wrangling</a>
    <li><a href="#basic_insight">Data characteristics</a></li>
    <li><a href=""#basic_insight"> Exploratory Data Analysis (EDA) </a></li>
    <li><a href="#basic_insight">Data visualisations and graphs</a></li>
 </ol>

</div>
<hr>

In [ ]:
#First install the IBM database connectivity
#pip install ibm_db

In [12]:
import ibm_db #This is to import the IBM connectivity
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
import seaborn as sns
import scipy as stats

In [13]:
#Create Db2 hostname, username, and password:
dsn_hostname = "dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "jwf15661"        # e.g. "abc12345"
dsn_pwd = "dlpr120c5l05g2^v"      # e.g. "7dBZ3wWt9XN6$o0J"
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

In [26]:
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=jwf15661;PWD=dlpr120c5l05g2^v;

In [15]:
#Create database connection
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  jwf15661 on host:  dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net

In [ ]:
#%reload_ext sql
#%sql ibm_db_sa://jwf15661:dlpr120c5l05g2^v@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB

In [ ]:
#1. Data import and data wrangling
# Using Pandas to retrieve data
import ibm_db_dbi

pconn = ibm_db_dbi.Connection(conn)
df = pd.read_sql('SELECT * FROM Women', pconn)
df

In [27]:
#2. Data characteristics
df.head()

   No  Country  ... Inflation_rate Female_Labor_Force_Participation_Rate
0   4  Austria  ...           0.90                                  67.1
1   6  Belgium  ...           0.60                                  58.0
2  17  Estonia  ...          -0.88                                  68.5
3  18  Finland  ...          -0.20                                  67.7
4  19   France  ...           0.00                                  60.6

[5 rows x 9 columns]

In [ ]:
df.info()

In [ ]:
#3. Exploratory Data Analysis (EDA)

In [ ]:
#4. Data visualisations and graphs